## .NET / Visual Studio
bin/
obj/
.vs/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Publish profiles (user-specific)
*.pubxml.user

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/
